@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  font-family: Overpass, sans-serif;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:hsl(216, 12%, 8%);
}